.send-message {
    position: absolute;
    right: 20px;
    a {
        color: #fff;
        text-decoration: none;
    }
}

.cancel-button {
    a {
        color: #fff;
        text-decoration: none;
    }
}

.faIcon {
    margin: 2px;
    padding: 5px;
    cursor: pointer;
    width: 30px !important;
    height: 30px !important;

    &:hover {
        opacity: 1;
        color: #fff;
        border-radius: 50%;
        transition: all 0.4s;
    }
}

.checkCircle {
    color: green;
    &:hover {
        background: green;
    }
}

.trash {
    color:red;
    &:hover {
        background: red;
    }
}

.message-container {
    padding: 15px;
    background: #fff;
    border: 1px solid #dee2e6;
    border-top: none;
}

.messages-header {
    padding: 10px;
    font-weight: bold;
}

.user-message {
    .short-message-content {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    .message-details {
        padding: 5px;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
            background: #dbdfe2;
        }
    }
    .message-content {
        opacity: 0;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    }
}

.selected-message {
    .message-details {
        color: white;
        background: #29363D;
        &:hover {
            cursor: pointer;
            background: #29363D;
        }
    }

    .message-content {
        opacity: 1;
        padding: 25px;
        max-height: 200px;
        background-color: #e4e5e6;
        transition: max-height 0.3s ease-out, opacity 0.3s ease-out, padding 0.3s ease-out;
    }
}