.bookmarked-threads-holder {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    margin-top: 20px;
}

.thread-item {
    padding: 20px;
    font-size: 14px;
    color: #363838;
    font-family: 'Open Sans Light', sans-serif;
}