.header-content {
    background-color: white;
    box-shadow: 1px 1px #8080803b;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.image-block {
    img {
        max-height: 400px;
        width: 100%
    }
}

.action-bar {
    margin-top: 20px;

    .create-topic-btn, .login-btn {
        height: 38px;
        border: none;
        box-shadow: none;
        color: #ffffff;
        font-size: 14px;
        font-family: 'Open Sans Bold', sans-serif;
        padding-left: 30px;
        padding-right: 30px;
        background-color: #1abc9c;
        cursor: pointer;
        margin-left: 10px;
    }

    .login-btn {
        background-color:cornflowerblue;
        padding: 10px;
    }
    
    .input-group {
        width: 60%;
    }
    
    .search-input, .search-input:focus {
        border: none;
        box-shadow: none;
        background-color: #f3f5f9;
        color: #363838;
        font-size: 14px;
        padding: 8px 19px;
        height: 38px;
    }

    .icon-holder {
        position: relative;
        font-size: 1.5rem;
        cursor: pointer;

        .number-of-messages {
            right: 0;
            bottom: 0;
            font-size: 15px;
            color: #ca263c;
            font-weight: bold;
            position: absolute;
            font-family: 'Open Sans Bold', sans-serif;
        }
    }

    .avatar-holder {
        img {
            border-radius: 50%;
            width: 40px;
            height: 40px;
        }
    }
}

.dropdown-toggle {
    border: none;
    background-color: transparent;
}

.dropdown-toggle:hover {
    border: none;
    background-color: transparent;
}

.dropdown-toggle:focus {
    border: none;
    background-color: transparent;
    outline: none;
}

.number-of-notifications {
    right: 15px;
    bottom: 0;
    font-size: 15px;
    color: #ca263c;
    font-weight: bold;
    position: absolute;
    font-family: 'Open Sans Bold', sans-serif;
}

.show>.btn-secondary.dropdown-toggle, .btn-secondary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: transparent;
    border: none;
}

.btn-secondary:not(:disabled):not(.disabled):active:focus {
    box-shadow: none;
}

.media {
    zoom: 1;
    overflow: hidden;
}

.media-left {
    display: table-cell;
    vertical-align: top;
    padding-right: 10px;
}

.media-object {
    display: block;
}

.img-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.media-body {
    display: table-cell;
    vertical-align: top;
    padding-top: 5.6px;
    zoom: 1;
    overflow: hidden;
}

.notification-title {
    font-size: 15px;
    margin-bottom: 0;
}

.notification-meta {
    color: #777777;
}

.notifications-toggle .dropdown-menu {
    position: absolute;
    will-change: transform;
    top: 0px;
    left: -215px !important;
    transform: translate3d(-6px, 40px, 0px);
}