.categories-holder {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 20px;
    padding-top: 0;

    h3 {
        color: #363838;
        font-size: 14px;
        font-family: 'Open Sans Bold', sans-serif;
        margin: 0;
        padding: 20px;
    }

    .divider {
        height: 1px;
        line-height: 1px;
        border-bottom: solid 1px #f1f1f1;
    }

    .heading {
        color: #363838;
        font-size: 14px;
        font-family: 'Open Sans Bold', sans-serif;
        margin: 0;
        padding: 20px;
        padding-right: 0;
    }

    .list-btn {
        width: 40%;
        color: #363838;
        font-size: 14px;
        font-family: 'Open Sans Bold', sans-serif;
        text-align: right;
        align-self: center;
    }

    .cats {
        margin: 0;
        padding: 20px;

        li {
            list-style: none;
            display: block;
            margin: 0;
            padding: 0;
            line-height: 30px;

            a {
                font-size: 14px;
                color: #363838;
                font-family: 'Open Sans Light', sans-serif;
                line-height: 30px;
            }

            .badge {
                background-color: #bdc3c7;
                font-size: 12px;
                color: #ffffff;
                font-family: 'Open Sans Bold', sans-serif;
                margin-top: 7px;
                margin-left: auto;
            }
        }
    }
}