.user-admin-profile {
    background-color: #ffffff;
    border-radius: 2px;
    box-shadow: 0 1px 2px #c9cccd;
    margin-bottom: 20px;
    padding-bottom: 20px;

    .image-holder { 
        margin: 0.5rem;

        img {
            width: 150px;
        }
    }
}

.header-row {
    padding: 20px;
    padding-bottom: 0;
}

.prop {
    font-weight: bold;
    margin-right: 10px;
}